{% extends "base.html" %}
{% block content%}
<div class="container" style="width: 50%; border: 4px solid #0275d8; border-radius: 10px;">
    {% if form.errors%}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if user.is_authenticated %}
    <h2 style="padding: 10px">Welcome {{user.username}}</h2>
    {% else %}
    <form method="POST" action="{% url 'login' %}" style="padding: 20px;">
        {% csrf_token %}
        {%for field in form%}
        <div class="mb-3">
            {{field.label_tag}}
            {{field}}
        </div>
        {%endfor%}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    {% endif %}
</div>
{% endblock %}